@import "../../../Basic";

.container {
  @extend .containerBorder;
  grid-area: leftTop;
  display: grid;
  grid-template-rows: 1fr 6fr;

  .title {
    @extend .containerTitle
  }

  .mainContainer {
    display: grid;
    grid-template-columns: 6fr 6fr;

    .types {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 1vh;
    }
  }
  img{
    width: auto;
    height: auto;
    max-width: 20px;
    max-height: 20px;
    padding-right:10px;
  }

}
