@import '../../Basic';

.container {
  @extend .containerBorder;
  display: grid;
  grid-template-rows: 100px 400px 400px;
  grid-area: leftTop / leftTop / leftTop / leftTop;

  .title {
    @extend .containerTitle;
  }

  img{
    width: auto;
    height: auto;
    max-width: 20px;
    max-height: 20px;
    padding-right:10px;
  }
}
